@font-face {
    font-family: inter;
    src: url(inter.ttf);
  }

@font-face {
    font-family: interregular;
    src: url(interFont/inter.ttf);
    font-weight: normal;
}

@font-face {
    font-family: interlight;
    src: url(interFont/interlight.ttf);
    font-weight: normal;
}


@font-face {
    font-family: interbold;
    src: url(interFont/interbold.ttf);
}

@font-face {
    font-family: intersemibold;
    src: url(interFont/intersemibold.ttf);
    font-weight: semibold;
}

@font-face {
    font-family: interheavy;
    src: url(interFont/interheavy.ttf);
    font-weight: heavy;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: interregular;
    font-weight: normal;
    overflow-wrap: break-word;
    hyphens: auto;
}

body {
    padding-top: 100px;
}

p {
    font-family: interregular;
    font-weight: normal;

}

h1 {
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: inter;
    }

a {
    text-decoration: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a:hover {
    cursor: pointer;
}



textarea:focus, input:focus{
    outline: none;
    -webkit-outline: none;

}


.sticky {
  position: sticky;
  top: 0;
  width: 100%
}


.normalinput {
    background-color: rgba(0,0,0,0);
    height: 30px;
    font-size: 14px;
    text-align: left;
    font-color: rgb(255,255,255);
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0px;
}

.inputdark {
    border-bottom: 2px solid rgb(255,255,255);
}

.inputlight {
    border-bottom: 2px solid rgb(49,49,49);
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60px;
    position: fixed;
    width: 100%;
    font-family: inter;
    background-color: rgba(255,255,255,0.84);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 0 0px 15px rgba(75,75,75,0.15);
    }

.header-items {
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: space-between;
    align-items: center;
}

.header-title {
    padding-left: 20px;
    text-align: left;
    font-weight: semibold;
    font-size: 20px;
    color: black;
}

.nav {
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    align-items: center;
    font-family: interlight;
    gap: 20px;
}

.nav a {
    text-align: center;
    font-size: 12px;
    color: rgb(49,49,49);
    transition: 0.25s;
}

.nav a:hover { 
  color: rgb(149,149,149);
}

.space {
    padding-top: 50px;
}

.bigtitle {
    font-size: 32px;
    font-family: interregular;
}

.medtitle {
    font-size: 32px;
    font-family: interregular;
    text-align: left;
}

.description-container{
    display:flex;
    flex-direction: column;
    align-items: left;
    gap: 10px;
}

.flex-left-align {
    display:flex;
    flex-direction: row;
    align-content: flex-start;
    gap: 10px;
}

.item-no {
    background: rgb(208,231,228);
    height: 25px;
    width: 25px;
    border-radius: 5px;
    font-size: 30px;
    font-family: interlight;
    font-weight: 600;
    letter-spacing: -1px;
    text-align: center;
    line-height: 25px;
}

.bodytitle {
     
    font-family: interbold;
    letter-spacing: 0px;
    padding: 7px 0px;
    font-size: 21px;
    color: rgb(49,49,49);
}

.modaltitle {
     
    font-family: interregular;
    letter-spacing: 0px;
    padding: 7px 0px;
    font-size: 17px;
    color: rgb(49,49,49);
}

.bodytxt {
     
    font-family: interregular;
    letter-spacing: -1.3px;
    font-size: 21px;
    font-weight: 1000;
}

.body2title {
     
    font-family: interbold;
    letter-spacing: 0px;
    padding: 7px 0px;
    font-size: 14px;
    color: rgb(143,143,143);
}

.body2txt {
     
    font-family: interregular;
    font-size: 16px;
    color: black;
}

.body2txt-inactive {
     
    font-family: interregular;
    font-size: 16px;
    color: #999999;
}

.body2txt-neg {
     
    font-family: interregular;
    letter-spacing: -0.9px;
    font-size: 14px;
    font-weight: 800;
    color: rgb(255,102,102);
}

.page-header-container {
    display:  flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 37px;
    padding-right: 37px;
}

.btn-container {
    display:  flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
}


.modal {
  display: block;
  position: fixed; /* Stay in place */
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  visibility: visible;
  opacity: 1;
  animation: fadeIn 0.1s;
  background-color: rgba(49, 49, 49, 0.5);
}

.is-show-none-trans {
  opacity: 0;
}


.is-show-none {
  display: none;
}


.modal-content {
  display: block;
  background-color: #fefefe;
  z-index: 1;
  margin: 15% auto; 
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  width: 60vw; 
  opacity: 1;
}

.item-display {
    display:  flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    padding-top: 37px;
    gap: 25px;
}


.item-display-indiv {
    width: 90vw;
    max-width: 620px;
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 5px;
    font-size: 14px;
    color: rgb(49,49,49);
}

.item-display-total-indiv {
    width: 90vw;
    max-width: 620px;
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    padding-top: 10px;
    font-size: 14px;
    color: rgb(49,49,49);
}

.item-display-indiv > p {
    justify-content: space-around;
    width: 270px;
    flex: 1;
    overflow-wrap: break-word;
    hyphens: auto;
}

.item-display-total-indiv > p {
    justify-content: space-around;
    width: 270px;
    flex: 1;
    font-weight: bold;
    font-size: 21px;
    color: rgb(52,52,52);
}

.item-display-indiv > a {
    justify-content: space-around;
    width: 270px;
    flex: 1;
    overflow-wrap: break-word;
    hyphens: auto;
}

.item-display-total-indiv > a {
    justify-content: space-around;
    width: 270px;
    flex: 1;
    font-weight: bold;
    font-size: 21px;
    color: rgb(52,52,52);
}

.item-display-indiv .disp-name {
    text-align: left;
    overflow-wrap: break-word;
    hyphens: auto;
}

.item-display-indiv .disp-price {
    flex-basis: 100px;
    text-align: right;
}

.item-display-indiv .disptitle-name {
    text-align: left;
    font-weight: bold;
    color: #aaaaaa;
}

.item-display-indiv .disptitle-price {
    text-align: right;
    font-weight: bold;
    color: #aaaaaa;
}

.item-desc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
    overflow-wrap: break-word;
    hyphens: auto;
}

.item-name-vert {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 2;
    gap: 10px;
}

.item-px-vert {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
}

.disp-name-under {
    color: rgb(153,153,153);
}

.tabbed-mini-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.tnv-button-active {
    font-weight: bold;
    font-size: 14px;
    color: rgb(52,52,52);
    transition: 0.25s;
}

.tnv-button-inactive {
    font-weight: bold;
    font-size: 14px;
    color: rgb(153,153,153);
    transition: 0.25s;
}

.tnv-divider {
    font-weight: bold;
    font-size: 14px;
    color: rgb(153,153,153);
    transition: 0.25s;
    text-decoration: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.nav-under {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

.tnv-under-indiv {
    width: 60vw;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 15px;
    font-size: 14px;
    color: rgb(49,49,49);
}

.itemTotalText {
    font-weight: bold;
    font-size: 21px;
    color: rgb(52,52,52);
}

.alignRight {
    text-align: right;
}

.alignLeft {
    text-align: left;
}

.offwhite {
    color: rgb(255,255,255);
    transition: 0.25s;
}

.greyish {
    color: rgb(52,52,52);
    transition: 0.25s;
}

.logotitle {
    height: 20px;
}

.large-block {
    width: 100%;
    padding: 20px;
    background: rgb(184,221,225);
}

.mainbody {
    width: 100%;
    text-align: center;

}

.leftalignbody {
    width: 100%;
    padding-left: 75px;
}

.bgdark {
    background-color: rgb(52,52,52);
}

.bglight {
    background-color: rgb(255,255,255);
}


.responsive {
  max-width: 100%;
  height: auto;
}

.normalbtn {
    background-color: rgb(208,231,228);
    border: none;
    border-radius: 6px;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    text-color: rgb(52,52,52);
    transition: 0.25s;
}

.negbtn {
    background-color: rgb(255,102,102);
    border: none;
    border-radius: 6px;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    text-color: rgb(52,52,52);
    transition: 0.25s;
}

.normalbtn:hover { 
  background-color: rgb(231,250,246);
}

.negbtn:hover {
    background-color: rgb(255,130,130);
}

.shiny {
    background-image: linear-gradient(90deg, rgba(73,136,170,1) 0%, rgba(35,136,154,1) 31%, rgba(22,169,191,1) 67%, rgba(192,151,245,1) 100%);
    background-clip: text;
    color: transparent;
    min-height: 100%;
    display: inline-block;
    padding: 14px 16px;
}

.small-padding-top {
    padding-top: 15px;
}

.column {
  float: left;
  width: 20.33%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.coltitle {
    font-family: intersemibold;
    font-size: 28px;
    
}

.dcinline {
    animation:  fadeIn 4.25s;
}

@keyframes fadeIn {
    from {opacity: 0;   background-color: rgba(49, 49, 49, 0);}
    to {opacity: 1;   background-color: rgba(49, 49, 49, 0.5);}
}