@font-face {
    font-family: inter;
    src: url(inter.ttf);
  }

@font-face {
    font-family: interregular;
    src: url(interFont/inter.ttf);
    font-weight: normal;
}

@font-face {
    font-family: interlight;
    src: url(interFont/interlight.ttf);
    font-weight: normal;
}


@font-face {
    font-family: interbold;
    src: url(interFont/interbold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: intersemibold;
    src: url(interFont/intersemibold.ttf);
}

@font-face {
    font-family: interheavy;
    src: url(interFont/interheavy.ttf);
    font-weight: heavy;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: interregular;
    font-weight: normal;
}

body {
}

p {
    padding-top: 10px;
    padding-bottom: 10px;

    font-family: interregular;
    font-weight: normal;

}

h1 {
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: inter;
    }

a {
    text-decoration: none;
}



textarea:focus, input:focus{
    outline: none;
    -webkit-outline: none;

}

.deftitle, .nav, .logotitle {
    display:inline-block;
}

.sticky {
  position: sticky;
  top: 0;
  width: 100%
}


.nav {
    float: right; 
    font-family: interlight;
}

.nav a {
    padding-right: 16px;
    position: relative;
    top: 10px;
    text-align: center;
    font-size: 12px;
    color: rgb(49,49,49);
    transition: 0.25s;
}

.nav a:hover { 
  color: rgb(149,149,149);
}

.deftitle {
    padding-left: 16px;
    padding-top: 13px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    float: left;
    color: rgb(49,49,49);
}

.normalinput {
    background-color: rgba(0,0,0,0);
    height: 30px;
    font-size: 14px;
    text-align: left;
    font-color: rgb(250,249,246);
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0px;
}

.inputdark {
    border-bottom: 2px solid rgb(250,249,246);
}

.inputlight {
    border-bottom: 2px solid rgb(49,49,49);
}

.header {
    height: 40px;
    position: fixed;
    width: 100%;
    font-family: inter;
    background-color: rgba(255,255,255,0.84);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    }

.space {
    padding-top: 50px;
}

.bigtitle {
    font-size: 40px;
    font-family: intersemibold;
    font-weight: 600;
    letter-spacing: -2px;
}

.medtitle {
    font-size: 30px;
    font-family: intersemibold;
    font-weight: 600;
    letter-spacing: -1px;
}

.item-no {
    background: rgb(208,231,228);
    height: 25px;
    width: 25px;
    border-radius: 5px;
    font-size: 30px;
    font-family: interlight;
    font-weight: 600;
    letter-spacing: -1px;
    text-align: center;
    line-height: 25px;
}

.bodytitle {
    -webkit-font-smoothing: antialiased;
    font-family: interbold;
    letter-spacing: 0px;
    padding: 7px 0px;
    font-size: 21px;
    color: rgb(49,49,49);
}

.bodytxt {
    -webkit-font-smoothing: antialiased;
    font-family: interregular;
    letter-spacing: -1.3px;
    font-size: 21px;
    font-weight: 1000;
}

.body2title {
    -webkit-font-smoothing: antialiased;
    font-family: interbold;
    letter-spacing: 0px;
    padding: 7px 0px;
    font-size: 14px;
    color: rgb(143,143,143);
}

.body2txt {
    -webkit-font-smoothing: antialiased;
    font-family: interregular;
    letter-spacing: -0.9px;
    font-size: 14px;
    font-weight: 800;
}

.body2txt-neg {
    -webkit-font-smoothing: antialiased;
    font-family: interregular;
    letter-spacing: -0.9px;
    font-size: 14px;
    font-weight: 800;
    color: rgb(255,102,102);
}

.page-header-container {
    display:  flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 37px;
    padding-right: 37px;
}

.btn-container {
    display:  flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
}


.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(250,249,246,0.5); /* Fallback color */
  animation-duration: 0.1s;
  animation-name: fadeIn;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  width: 60%; /* Could be more or less, depending on screen size */

}

.item-display {
    display:  flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    padding-top: 37px;
}


.item-display-indiv {
    width: 90vw;
    max-width: 620px;
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
    padding-top: 25px;
    font-size: 14px;
    color: rgb(49,49,49);
}

.item-display-total-indiv {
    width: 90vw;
    max-width: 620px;
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    font-size: 14px;
    color: rgb(49,49,49);
}

.item-display-indiv > p {
    justify-content: space-around;
    width: 270px;
    flex: 1;
}

.item-display-total-indiv > p {
    justify-content: space-around;
    width: 270px;
    flex: 1;
    font-weight: bold;
    font-size: 21px;
    color: rgb(52,52,52);
}

.item-display-indiv .disp-name {
    text-align: left;
}

.item-display-indiv .disp-price {
    text-align: right;
}

.item-display-indiv .disptitle-name {
    text-align: left;
    font-weight: bold;
    color: #aaaaaa;
}

.item-display-indiv .disptitle-price {
    text-align: right;
    font-weight: bold;
    color: #aaaaaa;
}

.item-desc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
}

.item-px-vert {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.disp-name-under {
    color: rgb(153,153,153);
}
}

.itemTotalText {
    font-weight: bold;
    font-size: 21px;
    color: rgb(52,52,52);
}

.alignRight {
    text-align: right;
}

.alignLeft {
    text-align: left;
}

.offwhite {
    color: rgb(250,249,246);
    transition: 0.25s;
}

.greyish {
    color: rgb(52,52,52);
    transition: 0.25s;
}

.logotitle {
    height: 20px;
}

.large-block {
    width: 100%;
    padding: 20px;
    background: rgb(184,221,225);
}

.mainbody {
    width: 100%;
    text-align: center;

}

.leftalignbody {
    width: 100%;
    padding-left: 75px;
}

.bgdark {
    background-color: rgb(52,52,52);
}

.bglight {
    background-color: rgb(250,249,246);
}


.responsive {
  max-width: 100%;
  height: auto;
}

.normalbtn {
    background-color: rgb(208,231,228);
    border: none;
    border-radius: 6px;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    text-color: rgb(52,52,52);
    transition: 0.25s;
}

.negbtn {
    background-color: rgb(255,102,102);
    border: none;
    border-radius: 6px;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    text-color: rgb(52,52,52);
    transition: 0.25s;
}

.normalbtn:hover { 
  background-color: rgb(231,250,246);
}

.negbtn:hover {
    background-color: rgb(255,130,130);
}

.shiny {
    background-image: linear-gradient(90deg, rgba(73,136,170,1) 0%, rgba(35,136,154,1) 31%, rgba(22,169,191,1) 67%, rgba(192,151,245,1) 100%);
    background-clip: text;
    color: transparent;
    min-height: 100%;
    display: inline-block;
    padding: 14px 16px;
}



.column {
  float: left;
  width: 20.33%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.coltitle {
    font-family: intersemibold;
    font-size: 28px;
    
}

.dcinline {
    animation:  fadeIn 4.25s;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}