@font-face {
    font-family: inter;
    src: url(inter.ttf);
  }

@font-face {
    font-family: interregular;
    src: url(interFont/inter.ttf);
    font-weight: normal;
}

@font-face {
    font-family: interlight;
    src: url(interFont/interlight.ttf);
    font-weight: normal;
}


@font-face {
    font-family: interbold;
    src: url(interFont/interbold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: intersemibold;
    src: url(interFont/intersemibold.ttf);
}

@font-face {
    font-family: interheavy;
    src: url(interFont/interheavy.ttf);
    font-weight: heavy;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: interregular;
    font-weight: normal;
}

body {
}

p {
    padding-top: 10px;
    padding-bottom: 10px;

    font-family: interregular;
    font-weight: normal;

}

h1 {
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: inter;
    }

a {
    text-decoration: none;
}

.deftitle, .nav, .logotitle {
    display:inline-block;
}

.sticky {
  position: sticky;
  top: 0;
  width: 100%
}


.nav {
    float: right; 
    font-family: interlight;
}

.nav a {
    padding-right: 16px;
    position: relative;
    top: 10px;
    text-align: center;
    font-size: 12px;
    color: rgb(49,49,49);
    transition: 0.25s;
}

.nav a:hover { 
  color: rgb(149,149,149);
}

.deftitle {
    padding-left: 16px;
    padding-top: 13px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    float: left;
    color: rgb(49,49,49);
}

.normalinput {
    background-color: rgba(0,0,0,0);
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    font-color: rgb(250,249,246);
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2.5px solid rgba(250,249,246);

}

.header {
    height: 40px;
    position: fixed;
    width: 100%;
    font-family: inter;
    background: rgba(255,255,255,0.9);
    }

.space {
    padding-top: 50px;
}

.bigtitle {
    font-size: 40px;
    font-family: intersemibold;
    font-weight: 600;
    letter-spacing: -2px;
}

.medtitle {
    font-size: 30px;
    font-family: intersemibold;
    font-weight: 600;
    letter-spacing: -1px;
}

.offwhite {
    color: rgb(250,249,246);
    transition: 0.25s;
}

.greyish {
    color: rgb(52,52,52);
    transition: 0.25s;
}

.logotitle {
    height: 20px;
}

.large-block {
    width: 100%;
    padding: 20px;
    background: rgb(184,221,225);
}

.mainbody {
    width: 100%;
    text-align: center;

}

.bgdark {
    background-color: rgb(52,52,52);
}

.bglight {
    background-color: rgb(250,249,246);
}


.responsive {
  width: 100%;
  height: auto;
}

.normalbtn {
    background-color: rgb(208,231,228);
    border: none;
    border-radius: 6px;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    text-color: rgb(52,52,52);
    transition: 0.25s;
}

.normalbtn:hover { 
  background-color: rgb(250,249,246);
}

.shiny {
    background-image: linear-gradient(90deg, rgba(73,136,170,1) 0%, rgba(35,136,154,1) 31%, rgba(22,169,191,1) 67%, rgba(192,151,245,1) 100%);
    background-clip: text;
    color: transparent;
    min-height: 100%;
    display: inline-block;
    padding: 14px 16px;
}

.bodytxt {
    -webkit-font-smoothing: antialiased;
    font-family: interregular;
    letter-spacing: -1.3px;
    font-size: 21px;
    font-weight: 1000;
}

.body2title {
    -webkit-font-smoothing: antialiased;
    font-family: interbold;
    letter-spacing: 0px;
    padding: 7px 0px;
    font-size: 14px;
    color: rgb(143,143,143);
}

.body2txt {
    -webkit-font-smoothing: antialiased;
    font-family: interregular;
    letter-spacing: -0.9px;
    font-size: 14px;
    font-weight: 800;
}

.column {
  float: left;
  width: 20.33%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.coltitle {
    font-family: intersemibold;
    font-size: 28px;
    
}

.dcinline {
    animation:  fadeIn 4.25s;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}